# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# .NET / C# / ASP.NET Core
*.swp
*.*~
project.lock.json
*.pyc
nupkg/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
test-results/
*.nupkg
*.snupkg
*.userprefs
*.sln.docstates
TestResults/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/

# Visual Studio
.vs/
*.userosscache
*.code-workspace

# JetBrains Rider
.idea/
*.sln.iml
*.sln.DotSettings.user
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf
**/.idea/**/contentModel.xml
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/dbnavigator.xml
*.DotSettings.user

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node / NPM / React / SPA
/node_modules
node_modules/
npm-debug.log
npm-debug.log*
yarn-error.log
yarn-error.log*
yarn-debug.log*
lerna-debug.log*
.pnpm-debug.log*
dist/
dist-ssr/
*.local
.cache/
.parcel-cache/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vite/
.next/
out/
build/
.nuxt/
.output/
.vercel/

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
coverage/
*.cover
.hypothesis/
.pytest_cache/
.coverage
.coverage.*
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Misc
*.swo
*~
.tmp/
temp/
tmp/
