@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100">
    <header class="d-flex align-items-center px-4 py-3 border-bottom">
        <div class="d-flex align-items-center gap-2">
            <div class="logo-icon">
                <svg fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" style="width: 32px; height: 32px;">
                    <g clip-path="url(#clip0_6_319)">
                        <path d="M8.57829 8.57829C5.52816 11.6284 3.451 15.5145 2.60947 19.7452C1.76794 23.9758 2.19984 28.361 3.85056 32.3462C5.50128 36.3314 8.29667 39.7376 11.8832 42.134C15.4698 44.5305 19.6865 45.8096 24 45.8096C28.3135 45.8096 32.5302 44.5305 36.1168 42.134C39.7033 39.7375 42.4987 36.3314 44.1494 32.3462C45.8002 28.361 46.2321 23.9758 45.3905 19.7452C44.549 15.5145 42.4718 11.6284 39.4217 8.57829L24 24L8.57829 8.57829Z" fill="currentColor"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_6_319">
                            <rect fill="white" height="48" width="48"></rect>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <h2 class="h5 mb-0 fw-bold">Dr. Selina Clinic</h2>
        </div>
    </header>

    <main class="flex-grow-1 container-fluid" style="max-width: 1200px;">
        @Body
    </main>
</div>

<style>
    .logo-icon {
        color: #957259;
    }
</style>
